
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>THANK YOU</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <meta name="format-detection" content="telephone=no" />
    <!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!--<![endif]-->

</head>
<body style="margin:0px; padding:0px;" bgcolor="#ffffff">
<script><%= data.ordernumber %></script>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px;" summary="Main Section">
    <tbody>
    <tr>
        <td><span style="color: rgb(254, 174, 57); font-family:'OpenSans', Arial, sans-serif; font-size: 17px; font-weight: bold; text-align: -webkit-center; text-transform: uppercase; background-color: rgb(246, 247, 248);">ORDER NUMBER :</span></td>
        <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{data.ordernumber}}</td>
    </tr>
    <tr>
        <td><span style="color: rgb(254, 174, 57); font-family: 'OpenSans', Arial, sans-serif; font-size: 17px; font-weight: bold; text-align: -webkit-center; text-transform: uppercase; background-color: rgb(246, 247, 248);">ORDER DATE :</span></td>
        <td>{{data.orderdate}}</td>
    </tr>
    <tr>
        <td><span style="color: rgb(254, 174, 57); font-family: 'OpenSans', Arial, sans-serif; font-size: 17px; font-weight: bold; text-transform: uppercase; background-color: rgb(246, 247, 248);">CUSTOMER NAME :</span></td>
        <td>{{data.user.firstname}}</td>
    </tr>
    </tbody>
</table>
<div style="display:none; white-space:nowrap; font:20px courier; color:#ffffff; background-color:#ffffff;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
</body>
</html>