<div [@routerTransition]>
    <div class="row">
        <div class=" col-sm-8 ">
            <h2>{{'createNews' | translate}}</h2>
        </div>
        <!--
  <div class="col col-sm-4 text-right">
    <button class="btn btn-sm btn-success addUserBtn" type="button">
      <i class="fa fa-pencil"></i>
      Create Group
    </button>
  </div> -->
        <div class=" col-sm-4  text-right">
            <button [routerLink]="['/layout/manageMosque/listNews']" class="btn btn-sm btn-success addUserBtn" type="button">
      <i class="fa fa-arrow-left"></i> {{'back' | translate}}</button>
        </div>
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div class="card-body ">
                    <ng-template #popTemplate>
                        <timepicker [showMeridian]="true" [(ngModel)]="startTime"></timepicker>
                    </ng-template>
                    <!-- Title input-->
                    <form class="topic" [formGroup]="addNewsForm" (ngSubmit)="addNews()" autocomplete="off">
                        <!-- Title -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label labelTextR" for="name">{{'title' | translate}} * :</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" formControlName="title" class="form-control" />
                                    <div *ngIf="submitted && f.title.errors" class="invalid-test-feedback">
                                        <div *ngIf="f.title.errors.required">{{'boardTitle' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- By Name -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label labelTextR" for="name">{{'name' | translate}} * :</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" formControlName="byName" class="form-control" />
                                    <div *ngIf="submitted && f.byName.errors" class="invalid-test-feedback">
                                        <div *ngIf="f.byName.errors.required">{{'boardName' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Time -->
                        <!-- <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label labelTextR" for="name">{{'startTime' | translate}} :</label>
                                <div class="col-md-4">
                                    <input formControlName="startTime" [(ngModel)]="startTime" [popover]="popTemplate" [outsideClick]="true" placement="bottom" value="{{ startTime | date: 'HH:mm aa' }}" class="form-control" />
                                </div>
                            </div>
                        </div> -->
                        <!-- Date -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label labelTextR" for="name">{{'date' | translate}} * :</label>
                                <div class="col-md-4">
                                    <!-- <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker formControlName="startDate" class="form-control" /> -->
                                    <input type="date" class="form-control" formControlName="startDate" class="form-control" />
                                    <div *ngIf="submitted && f.startDate.errors" class="invalid-test-feedback">
                                        <div *ngIf="f.startDate.errors.required">{{'errorCorrectDate' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-3 control-label labelTextR" for="name">{{'selectFile' | translate}} * :</label>
                                    <div class="col-md-5 ">
                                        <!-- <p-fileUpload name="myfile[]" url="./upload.php"></p-fileUpload> -->
                                        <!-- <img  [src]= "videourl ? videourl : 'assets/images/doctor.png'" class="userImgPro" /> -->
                                        <div class="selectFile">
                                            <input type="file" name="image" id="videoPath" (change)="onFileChange($event)" aaccept=".jpg,.png" #fileInput />
                                        </div>
                                        <div *ngIf="submitted && f.image.errors" class="invalid-test-feedback">
                                            <div *ngIf="f.image.errors.required">File is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Description -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label labelTextR" for="name">{{'description' | translate}} * :</label>
                                <div class="col-md-8 ">
                                    <!-- Add text editor -->
                                    <p-editor formControlName="textarea" [style]="{'height':'320px'}"></p-editor>
                                    <!-- <div *ngIf="addNewsForm.controls['textarea'].dirty && addNewsForm.controls['textarea'].invalid">
                                        <p class="form_error" *ngIf="addNewsForm.controls['textarea'].dirty && addNewsForm.controls['textarea'].hasError('required')">{{'boardDescription' | translate}}</p>
                                        <p class="form_error" *ngIf="addNewsForm.controls['textarea'].dirty && addNewsForm.controls['textarea'].hasError('pattern')">{{'boardDescription' | translate}}</p>
                                    </div> -->
                                    <div *ngIf="submitted && f.textarea.errors" class="invalid-test-feedback">
                                        <div *ngIf="f.textarea.errors.required">{{'boardDescription' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottomBtnPage">
                            <button class="btn btn-primary" type="submit">{{'create' | translate}}</button>
                            <button class="btn btn-default" type="button" [routerLink]="['/layout/manageMosque/listNews']">{{'close' | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'spinner' : isLoading}">
    </div>
</div>