<div class="row">
    <div class="col-md-8">
        <h2> Change Password</h2>
    </div>
    <div class="clearfix"></div>
    <div class="col col-sm-12">
        <div class="card mb-3">
            <div class="card-body ">
                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="changePassword">
                    <div class="form-group labelFild">
                        <div class="row">
                            <label class="col-md-4 control-label">Current password*:</label>
                            <div class="col-md-8">
                                <input formControlName="old_password" type="password" class="form-control input-md">
                                <div *ngIf="changePasswordForm.controls['old_password'].dirty && changePasswordForm.controls['old_password'].invalid">
                                    <p class="form_error" *ngIf="changePasswordForm.controls['old_password'].dirty && changePasswordForm.controls['old_password'].hasError('required')">Please enter password.</p>
                                    <p class="form_error" *ngIf="changePasswordForm.controls['old_password'].dirty &&changePasswordForm.controls['old_password'].hasError('pattern')">
                                        Please provide valid password.eg Password@12</p>
                                </div>
                                <div *ngIf="submitted && f.old_password.errors" class="invalid-test-feedback">
                                    <div *ngIf="f.old_password.errors.required">Please enter old password</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group labelFild">
                        <div class="row">
                            <label class="col-md-4 control-label">New password* :
                      </label>
                            <div class="col-md-8">
                                <input formControlName="new_password" type="password" class="form-control input-md">
                                <div *ngIf="changePasswordForm.controls['new_password'].dirty && changePasswordForm.controls['new_password'].invalid">
                                    <p class="form_error" *ngIf="changePasswordForm.controls['new_password'].dirty && changePasswordForm.controls['new_password'].hasError('required')">Please enter new password.</p>
                                    <p class="form_error" *ngIf="changePasswordForm.controls['new_password'].dirty &&changePasswordForm.controls['new_password'].hasError('maxlength')">
                                        Please provide valid password with maximum 20 characters</p>
                                    <p class="form_error" *ngIf="changePasswordForm.controls['new_password'].dirty &&changePasswordForm.controls['new_password'].hasError('minlength')">
                                        Please provide valid password with minimum 6 characters</p>
                                </div>
                                <div *ngIf="submitted && f.new_password.errors" class="invalid-test-feedback">
                                    <div *ngIf="f.new_password.errors.required">Please enter new password</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group labelFild">
                  <div class="row">
                      <label class="col-md-3 control-label">Confirm new password:
                      </label>
                      <div class="col-md-7">
                          <input formControlName="newRepassword" type="password" class="form-control input-md">
                          <div *ngIf="changePasswordForm.controls['newRepassword'].dirty && changePasswordForm.controls['newRepassword'].invalid">
                              <p class="form_error" *ngIf="changePasswordForm.controls['newRepassword'].dirty && changePasswordForm.controls['newRepassword'].hasError('required')">Please
                                  enter new password.</p>
                              <p class="form_error" *ngIf="(changePasswordForm.controls['newRepassword'].dirty && changePasswordForm.controls['newRepassword'].hasError('equalTo') && !changePasswordForm.controls['newRepassword'].hasError('required'))">Please
                                  enter the same new password.</p>
                          </div>
                      </div>
                  </div>
              </div> -->
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary change">
                      Change Password</button>
                        <button type="button" class="btn btn-default" routerLink="/layout/dashboard">
                      Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div [ngClass]="{'spinner' : isLoading}">
</div>