<div class="resetPassword-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <div class="resetPassBox">
        <img src="assets/images/mdout_logo.png" width="200px" class="user-avatar" />
        <h1>Reset Password</h1>
        <form ng role="form" [formGroup]="resetForm" method="post">
          <div class="form-content">
            <div class="form-group">
              <input type="password" class="form-control input-underline input-lg" formControlName="password" placeholder="Password">
              <div *ngIf="resetForm.controls['password'].dirty && resetForm.controls['password'].invalid">
                <p class="form_error" *ngIf="resetForm.controls['password'].hasError('required')">Please enter Password.</p>
                <p class="form_error" *ngIf="resetForm.controls['password'].hasError('maxlength')">Please provide valid password with maximum 20 characters</p>
                <p class="form_error" *ngIf="resetForm.controls['password'].hasError('minlength')">Please provide valid password with minimum 6 characters</p>
                <p class="form_error" *ngIf="resetForm.controls['password'].dirty &&resetForm.controls['password'].hasError('pattern')">
                    Password must be at least 6 characters long.eg Password@12</p>
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-underline input-lg" formControlName="confirmPassword" placeholder="Confirm Password">
              <div *ngIf="resetForm.controls['confirmPassword'].dirty && resetForm.controls['confirmPassword'].invalid">
                <p class="form_error" *ngIf="resetForm.controls['confirmPassword'].hasError('required')">Please enter password to confirm.</p>
                <p class="form_error" *ngIf="(resetForm.controls['confirmPassword'].dirty && resetForm.controls['confirmPassword'].hasError('equalTo') && !resetForm.controls['confirmPassword'].hasError('required'))">Please
                    enter the same password.</p>
              </div>
            </div>
          </div>
          <button class="btn rounded-btn" [disabled]="!resetForm.valid" (click)="resetPassword()"> Submit </button>
          &nbsp;
        </form>
      </div>
    </div>
  </div>

</div>
<div [ngClass]="{'spinner' : isLoading}">
  </div>