<p-toast></p-toast>
<div class="forgot-password-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-8 col-sm-4 col-lg-4">
            <div class="forgotPasswordBox">
                <img src="assets/images/Umahh@2x.png" width="200px" class="user-avatar" />
                <h1>Forgot Password</h1>
                <form ng role="form" [formGroup]="forgotPasswordForm" method="post">
                    <div class="form-content">
                        <div class="form-group">
                            <input type="email" formControlName="email" class="form-control input-underline input-lg" placeholder="Email">
                            <div *ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.controls['email'].invalid">
                                <p class="form_error" *ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.controls['email'].hasError('required')">Please enter email address.</p>
                                <p class="form_error" *ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.controls['email'].hasError('pattern')">Please enter the correct email.</p>
                            </div>
                        </div>
                    </div>
                    <!-- <button class="btn btn-primary" [disabled]="!forgotPasswordForm.valid" (click)="forgotPassword()"> Submit </button> &nbsp;
                    <button class="btn btn-primary" [routerLink]="['']"> Log in </button> -->
                    <div class="footerBtn">
                        <button class="btn btn-primary" [disabled]="!forgotPasswordForm.valid" (click)="forgotPassword()"> Submit </button>
                        <div class="forgotPass">
                            <a [routerLink]="['']"> Log in </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div [ngClass]="{'spinner' : isLoading}">
</div>