<div [@routerTransition]>
    <div class="row">
        <div class=" col-sm-8 ">
            <h2>{{'createQuiz' | translate}}</h2>
        </div>
        <!--
  <div class="col col-sm-4 text-right">
    <button class="btn btn-sm btn-success addUserBtn" type="button">
      <i class="fa fa-pencil"></i>
      Create Group
    </button>
  </div> -->
        <div class=" col-sm-4  text-right">
            <button [routerLink]="['/layout/manageMosque/listQuiz']" class="btn btn-sm btn-success addUserBtn" type="button">
      <i class="fa fa-arrow-left"></i> {{'back' | translate}}</button>
        </div>
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div class="card-body ">
                    <ng-template #popTemplate>
                        <timepicker [showMeridian]="true" [(ngModel)]="time"></timepicker>
                    </ng-template>
                    <!-- Title input-->
                    <form class="topic" [formGroup]="addQuizForm" (ngSubmit)="addQuiz()" autocomplete="off">
                        <!--Select Category  -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label labelTextR" for="name">{{'selectCategory' | translate}} * :</label>
                                <div class="col-md-4 ">
                                    <div>
                                        <div>
                                            <p-dropdown [options]="AllCategoryQuiz" class="input-md selectCategory" formControlName="quiz_category_id" [style]="{'width':'390px'}"></p-dropdown>
                                        </div>
                                        <div *ngIf="addQuizForm.controls['quiz_category_id'].dirty && addQuizForm.controls['quiz_category_id'].invalid">
                                            <p class="form_error" *ngIf="addQuizForm.controls['quiz_category_id'].dirty && addQuizForm.controls['quiz_category_id'].hasError('required')">{{'errorQuizCategory' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Question -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label labelTextR" for="name">{{'question' | translate}} * :</label>
                                <div class="col-md-4">
                                    <!-- <input id="name" name="name" type="text" placeholder="Your name" class="form-control"> -->
                                    <input type="text" id="Title" name="Title" formControlName="question" placeholder="Please enter question" class="form-control">
                                    <div *ngIf="submitted && f.question.errors" class="invalid-test-feedback">
                                        <div *ngIf="f.question.errors.required">{{'erroroption' | translate}}</div>
                                        <div *ngIf="f.question.errors.maxlength">Please enter the correct question with maximum length 200 characters.</div>
                                    </div>
                                    <!-- <div *ngIf="addQuizForm.controls['question'].dirty && addQuizForm.controls['question'].invalid">
                                        <p class="form_error" *ngIf="addQuizForm.controls['question'].dirty && addQuizForm.controls['question'].hasError('required')">{{'errorQuestion' | translate}}</p>
                                        <p class="form_error" *ngIf="addQuizForm.controls['question'].dirty && addQuizForm.controls['question'].hasError('maxlength')">Please enter the correct question with maximum length 200 characters.</p>
                                        <p class="form_error" *ngIf="addQuizForm.controls['question'].dirty && addQuizForm.controls['question'].hasError('pattern')">{{'errorQuestion' | translate}}</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- Option 1 -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label labelTextR" for="name">{{'option' | translate}} A * :</label>
                                <div class="col-md-4">
                                    <!-- <input id="name" name="name" type="text" placeholder="Your name" class="form-control"> -->
                                    <input type="text" id="Title" name="Title" formControlName="option1" placeholder="Please enter option" class="form-control">
                                    <div *ngIf="submitted && f.option1.errors" class="invalid-test-feedback">
                                        <div *ngIf="f.option1.errors.required">{{'erroroption' | translate}}</div>
                                        <div *ngIf="f.option1.errors.maxlength">Please enter the correct option1 with maximum length 200 characters.</div>
                                    </div>
                                    <!-- <div *ngIf="addQuizForm.controls['option1'].dirty && addQuizForm.controls['option1'].invalid">
                                        <p class="form_error" *ngIf="addQuizForm.controls['option1'].dirty && addQuizForm.controls['option1'].hasError('required')">{{'erroroption' | translate}}</p>
                                        <p class="form_error" *ngIf="addQuizForm.controls['option1'].dirty && addQuizForm.controls['option1'].hasError('maxlength')">Please enter the correct option1 with maximum length 200 characters.</p>
                                        <p class="form_error" *ngIf="addQuizForm.controls['option1'].dirty && addQuizForm.controls['option1'].hasError('pattern')">{{'erroroption' | translate}}</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- Option 2 -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label labelTextR" for="name">{{'option' | translate}} B * :</label>
                                <div class="col-md-4">
                                    <!-- <input id="name" name="name" type="text" placeholder="Your name" class="form-control"> -->
                                    <input type="text" id="Title" name="Title" formControlName="option2" placeholder="Please enter option" class="form-control">
                                    <div *ngIf="submitted && f.option2.errors" class="invalid-test-feedback">
                                        <div *ngIf="f.option2.errors.required">{{'erroroption' | translate}}</div>
                                        <div *ngIf="f.option2.errors.maxlength">Please enter the correct option2 with maximum length 200 characters.</div>
                                    </div>
                                    <!-- <div *ngIf="addQuizForm.controls['option2'].dirty && addQuizForm.controls['option2'].invalid">
                                        <p class="form_error" *ngIf="addQuizForm.controls['option2'].dirty && addQuizForm.controls['option2'].hasError('required')">{{'erroroption' | translate}}</p>
                                        <p class="form_error" *ngIf="addQuizForm.controls['option2'].dirty && addQuizForm.controls['option2'].hasError('maxlength')">Please enter the correct option2 with maximum length 200 characters.</p>
                                        <p class="form_error" *ngIf="addQuizForm.controls['option2'].dirty && addQuizForm.controls['option2'].hasError('pattern')">{{'erroroption' | translate}}</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- Option 3 -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label labelTextR" for="name">{{'option' | translate}} C * :</label>
                                <div class="col-md-4">
                                    <!-- <input id="name" name="name" type="text" placeholder="Your name" class="form-control"> -->
                                    <input type="text" id="Title" name="Title" formControlName="option3" placeholder="Please enter option" class="form-control">
                                    <div *ngIf="submitted && f.option3.errors" class="invalid-test-feedback">
                                        <div *ngIf="f.option3.errors.required">{{'erroroption' | translate}}</div>
                                        <div *ngIf="f.option3.errors.maxlength">Please enter the correct option3 with maximum length 200 characters.</div>
                                    </div>
                                    <!-- <div *ngIf="addQuizForm.controls['option3'].dirty && addQuizForm.controls['option3'].invalid">
                                        <p class="form_error" *ngIf="addQuizForm.controls['option3'].dirty && addQuizForm.controls['option3'].hasError('required')">{{'erroroption' | translate}}</p>
                                        <p class="form_error" *ngIf="addQuizForm.controls['option3'].dirty && addQuizForm.controls['option3'].hasError('maxlength')">Please enter the correct option3 with maximum length 200 characters.</p>
                                        <p class="form_error" *ngIf="addQuizForm.controls['option3'].dirty && addQuizForm.controls['option3'].hasError('pattern')">{{'erroroption' | translate}}</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- Option 4 -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label labelTextR" for="name">{{'option' | translate}} D * :</label>
                                <div class="col-md-4">
                                    <!-- <input id="name" name="name" type="text" placeholder="Your name" class="form-control"> -->
                                    <input type="text" id="Title" name="Title" formControlName="option4" placeholder="Please enter option" class="form-control">
                                    <!-- <div *ngIf="addQuizForm.controls['option4'].dirty && addQuizForm.controls['option4'].invalid">
                                        <p class="form_error" *ngIf="addQuizForm.controls['option4'].dirty && addQuizForm.controls['option4'].hasError('required')">{{'erroroption' | translate}}</p>
                                        <p class="form_error" *ngIf="addQuizForm.controls['option4'].dirty && addQuizForm.controls['option4'].hasError('maxlength')">Please enter the correct option4 with maximum length 200 characters.</p>
                                        <p class="form_error" *ngIf="addQuizForm.controls['option4'].dirty && addQuizForm.controls['option4'].hasError('pattern')">{{'erroroption' | translate}}</p>
                                    </div> -->
                                    <div *ngIf="submitted && f.option4.errors" class="invalid-test-feedback">
                                        <div *ngIf="f.option4.errors.required">{{'erroroption' | translate}}</div>
                                        <div *ngIf="f.option4.errors.maxlength">Please enter the correct option4 with maximum length 200 characters.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Answer -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label labelTextR" for="name">{{'answer' | translate}} * :</label>
                                <div class="col-md-4">
                                    <!-- <input id="name" name="name" type="text" placeholder="Your name" class="form-control"> -->
                                    <input type="text" id="Title" name="Title" formControlName="answer" placeholder="Please enter answer" class="form-control">
                                    <div *ngIf="submitted && f.answer.errors" class="invalid-test-feedback">
                                        <div *ngIf="f.answer.errors.required">{{'erroranswer' | translate}}</div>
                                        <div *ngIf="f.answer.errors.maxlength">Please enter the correct answer with maximum length 200 characters.</div>
                                    </div>
                                    <!-- <div *ngIf="addQuizForm.controls['answer'].dirty && addQuizForm.controls['answer'].invalid">
                                        <p class="form_error" *ngIf="addQuizForm.controls['answer'].dirty && addQuizForm.controls['answer'].hasError('required')">{{'erroranswer' | translate}}</p>
                                        <p class="form_error" *ngIf="addQuizForm.controls['answer'].dirty && addQuizForm.controls['answer'].hasError('maxlength')">Please enter the correct answer with maximum length 200 characters.</p>
                                        <p class="form_error" *ngIf="addQuizForm.controls['answer'].dirty && addQuizForm.controls['answer'].hasError('pattern')">{{'erroranswer' | translate}}</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="bottomBtnPage topicBtn">
                            <button type="submit" class="btn btn-primary">{{'save' | translate}}</button>
                            <button type="button" [routerLink]="['/layout/manageMosque/listDonation']" class="btn btn-default ">{{'close' | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'spinner' : isLoading}">
    </div>
</div>