<div class="row">

    <div class="col col-sm-8">
        <h2>Create Video Content</h2>
    </div>
    <div class="col col-sm-4 text-right">
        <button class="btn btn-sm btn-success addUserBtn" type="button"><i class="fa fa-pencil"></i>
            Create Group
        </button>
    </div>

    <div class="col col-sm-12">

        <div class="card mb-3">
            <div class="card-body ">
                <!-- Title input-->
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-3 control-label labelTextR" for="name">Title :</label>
                        <div class="col-md-5">
                            <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
                        </div>
                    </div>
                </div>

                <!-- Status input-->
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-3 control-label labelTextR" for="name">Status :</label>
                        <div class="col-md-5 ">
                            <div class="checkRadioBtn">
                                <label class="form-check-label "> <input type="radio" id="permissionTOPICS" class="ng-untouched ng-pristine ng-valid">                                    None
                                </label> <label class="form-check-label"> <input type="radio" id="permissionTOPICS" class="ng-untouched ng-pristine ng-valid">                                    None
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Drag & Drop files -->
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-3 control-label labelTextR" for="name">Drag & Drop files :</label>
                        <div class="col-md-5 ">

                            <div class="dragDropFiles">
                                Drop files here
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Select file  -->
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-3 control-label labelTextR" for="name">Select file :</label>
                        <div class="col-md-5 ">


                            <input type="file" id="fileInput" />

                        </div>
                    </div>
                </div>
                <!-- Description -->
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-3 control-label labelTextR" for="name">Description :</label>
                        <div class="col-md-8 ">

                              Add text editor
                           

                        </div>
                    </div>
                </div>
<div class="bottomBtnPage">
                <button class="btn btn-primary" type="button" >Create</button><button  class="btn btn-default"  type="button">Close</button></div>
            </div>





        </div>
    </div>
</div>




<div class="row justify-content-md-center">



    <div class="col-md-4">
        <div class="forgotPassInfo ">
            <div class="row justify-content-md-center">
                <div class="col-md-12 text-center">
                    <img src="assets/images/logo.png" width="150px" class="user-avatar" />
                    <h3>Forgot Password</h3>
                    <form method="post">
                        <div class="form-content">
                            <div class="form-group">
                                <input type="email" class="form-control input-underline input-lg" id="" placeholder="Email">

                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">

                            </div>
                        </div>
                        <div class="bottomBtnInfo col-sm-12 text-center"><button class="btn btn-primary " type="button">Submit</button><button
                                class="btn btn-default" type="button">Close</button></div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="row">

    <div class="col col-sm-8">
        <h2>List of Groups </h2>
    </div>
    <div class="col col-sm-4 text-right">
        <button class="btn btn-sm btn-success addUserBtn" type="button"><i class="fa fa-pencil"></i>
            Create Group
        </button>
    </div>

    <div class="col col-sm-12">

        <div class="card mb-3">
            <div class="card-body ">






                <div class="list-group listManagement">
                    <div class="row">
                        <div class=" col-sm-4">
                            <div class="list-group-item clearfix">

                                <div class="profile-teaser-main">
                                    <h2 class="profile-name">Medical Assist</h2>
                                    <div class="surveyInof">
                                        <p><strong>Requested to join group by</strong> ABC</p>
                                        <p><strong>Requested At :</strong> 12/12/2017
                                        </p>
                                        <p><strong> No. of members : </strong> <span class="noMembers">2</span>
                                        </p>
                                        <div class="acceptIcon">
                                            <button class="btn btn-sm btn-success thumbsUp" type="button"><i class="fa fa-thumbs-up"
                                                    aria-hidden="true"></i> </button>
                                            <button class="btn btn-sm btn-danger thumbsUp" type="button"><i class="fa fa-thumbs-down"
                                                    aria-hidden="true"></i> </button>
                                        </div>


                                    </div>




                                </div>
                            </div><!-- item -->
                        </div>
                        <div class=" col-sm-4">
                            <div class="list-group-item clearfix">

                                <div class="profile-teaser-main">
                                    <h2 class="profile-name">Medical Assist</h2>
                                    <div class="surveyInof">
                                        <p><strong>Requested to join group by</strong> ABC</p>
                                        <p><strong>Requested At :</strong> 12/12/2017
                                        </p>
                                        <p><strong> No. of members : </strong> <span class="noMembers">2</span>
                                        </p>
                                        <div class="acceptIcon">
                                            <button class="btn btn-sm btn-success thumbsUp" type="button"><i class="fa fa-thumbs-up"
                                                    aria-hidden="true"></i> </button>
                                            <button class="btn btn-sm btn-danger thumbsUp" type="button"><i class="fa fa-thumbs-down"
                                                    aria-hidden="true"></i> </button>
                                        </div>


                                    </div>




                                </div>
                            </div><!-- item -->
                        </div>
                        <div class=" col-sm-4">
                            <div class="list-group-item clearfix">

                                <div class="profile-teaser-main">
                                    <h2 class="profile-name">Medical Assist</h2>
                                    <div class="surveyInof">
                                        <p><strong>Requested to join group by</strong> ABC</p>
                                        <p><strong>Requested At :</strong> 12/12/2017
                                        </p>
                                        <p><strong> No. of members : </strong> <span class="noMembers">2</span>
                                        </p>
                                        <div class="acceptIcon">
                                            <button class="btn btn-sm btn-success thumbsUp" type="button"><i class="fa fa-thumbs-up"
                                                    aria-hidden="true"></i> </button>
                                            <button class="btn btn-sm btn-danger thumbsUp" type="button"><i class="fa fa-thumbs-down"
                                                    aria-hidden="true"></i> </button>
                                        </div>


                                    </div>




                                </div>
                            </div><!-- item -->
                        </div>
                        <div class=" col-sm-4">
                            <div class="list-group-item clearfix">

                                <div class="profile-teaser-main">
                                    <h2 class="profile-name">Medical Assist</h2>
                                    <div class="surveyInof">
                                        <p><strong>Requested to join group by</strong> ABC</p>
                                        <p><strong>Requested At :</strong> 12/12/2017
                                        </p>
                                        <p><strong> No. of members : </strong> <span class="noMembers">2</span>
                                        </p>
                                        <div class="acceptIcon">
                                            <button class="btn btn-sm btn-success thumbsUp" type="button"><i class="fa fa-thumbs-up"
                                                    aria-hidden="true"></i> </button>
                                            <button class="btn btn-sm btn-danger thumbsUp" type="button"><i class="fa fa-thumbs-down"
                                                    aria-hidden="true"></i> </button>
                                        </div>


                                    </div>




                                </div>
                            </div><!-- item -->
                        </div>
                        <div class=" col-sm-4">
                            <div class="list-group-item clearfix">

                                <div class="profile-teaser-main">
                                    <h2 class="profile-name">Medical Assist</h2>
                                    <div class="surveyInof">
                                        <p><strong>Requested to join group by</strong> ABC</p>
                                        <p><strong>Requested At :</strong> 12/12/2017
                                        </p>
                                        <p><strong> No. of members : </strong> <span class="noMembers">2</span>
                                        </p>
                                        <div class="acceptIcon">
                                            <button class="btn btn-sm btn-success thumbsUp" type="button"><i class="fa fa-thumbs-up"
                                                    aria-hidden="true"></i> </button>
                                            <button class="btn btn-sm btn-danger thumbsUp" type="button"><i class="fa fa-thumbs-down"
                                                    aria-hidden="true"></i> </button>
                                        </div>


                                    </div>




                                </div>
                            </div><!-- item -->
                        </div>
                        <div class=" col-sm-4">
                            <div class="list-group-item clearfix">

                                <div class="profile-teaser-main">
                                    <h2 class="profile-name">Medical Assist</h2>
                                    <div class="surveyInof">
                                        <p><strong>Requested to join group by</strong> ABC</p>
                                        <p><strong>Requested At :</strong> 12/12/2017
                                        </p>
                                        <p><strong> No. of members : </strong> <span class="noMembers">2</span>
                                        </p>
                                        <div class="acceptIcon">
                                            <button class="btn btn-sm btn-success thumbsUp" type="button"><i class="fa fa-thumbs-up"
                                                    aria-hidden="true"></i> </button>
                                            <button class="btn btn-sm btn-danger thumbsUp" type="button"><i class="fa fa-thumbs-down"
                                                    aria-hidden="true"></i> </button>
                                        </div>


                                    </div>




                                </div>
                            </div><!-- item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col col-sm-8">
        <h2>List of Questionnaires </h2>
    </div>
    <div class="col col-sm-4 text-right">
        <button class="btn btn-sm btn-success addUserBtn" type="button"><i class="fa fa-pencil"></i>
            Create Group
        </button>
    </div>

    <div class="col col-sm-12">

        <div class="card mb-3">
            <div class="card-body ">



                <div class="welcomeBg">
                    <div class="row">
                        <div class="col-md-12 wow ">

                            <div class="text-center ">
                                <h2 data-wow-delay="0.3s">Welcome MyCare</h2>
                                <h5 data-wow-delay="0.4s">to start click below</h5>

                                <button type="button" class="btn btn-primary " data-wow-delay="0.4s"><i class="fa fa-plus"
                                        aria-hidden="true"></i> Add Questionnaire</button>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="list-group listManagement">
                    <div class="row">
                        <div class=" col-sm-6">
                            <div class="list-group-item clearfix">
   <div class="triangleTopRight"><span>Mukesh</span></div>
                                <div class="profile-teaser-main">
                                    <h2 class="profile-name"><i class="fa fa-file-text" aria-hidden="true"></i> First Survey <span class="surveyEdit"><a>Edit</a></span></h2>
                                    <div class="surveyInof">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the 1500 <a href="#"
                                                class="readMore">read more...</a></p>
                                        <div class="surveyDate"><i class="fa fa-calendar" aria-hidden="true"></i> Jul 18,
                                            2018 <i class="fa fa-clock-o"></i> 10:33:35 AM</div>
                                    </div>




                                </div>
                            </div><!-- item -->
                        </div>
                        <div class=" col-sm-6">
                            <div class="list-group-item clearfix">

                                <div class="profile-teaser-main">
                                    <h2 class="profile-name"><i class="fa fa-file-text" aria-hidden="true"></i> First Survey</h2>
                                    <div class="surveyInof">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the 1500 <a href="#"
                                                class="readMore">read more...</a></p>
                                        <div class="surveyDate"><i class="fa fa-calendar" aria-hidden="true"></i> Jul 18,
                                            2018 <i class="fa fa-clock-o"></i> 10:33:35 AM</div>
                                    </div>




                                </div>
                            </div><!-- item -->
                        </div>
                        <div class=" col-sm-6">
                            <div class="list-group-item clearfix">

                                <div class="profile-teaser-main">
                                    <h2 class="profile-name"><i class="fa fa-file-text" aria-hidden="true"></i> First Survey</h2>
                                    <div class="surveyInof">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the 1500 <a href="#"
                                                class="readMore">read more...</a></p>
                                        <div class="surveyDate"><i class="fa fa-calendar" aria-hidden="true"></i> Jul 18,
                                            2018 <i class="fa fa-clock-o"></i> 10:33:35 AM</div>
                                    </div>




                                </div>
                            </div><!-- item -->
                        </div>
                        <div class=" col-sm-6">
                            <div class="list-group-item clearfix">

                                <div class="profile-teaser-main">
                                    <h2 class="profile-name"><i class="fa fa-file-text" aria-hidden="true"></i> First Survey</h2>
                                    <div class="surveyInof">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the 1500 <a href="#"
                                                class="readMore">read more...</a></p>
                                        <div class="surveyDate"><i class="fa fa-calendar" aria-hidden="true"></i> Jul 18,
                                            2018 <i class="fa fa-clock-o"></i> 10:33:35 AM</div>
                                    </div>




                                </div>
                            </div><!-- item -->
                        </div>
                        <div class=" col-sm-6">
                            <div class="list-group-item clearfix">

                                <div class="profile-teaser-main">
                                    <h2 class="profile-name"><i class="fa fa-file-text" aria-hidden="true"></i> First Survey</h2>
                                    <div class="surveyInof">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the 1500 <a href="#"
                                                class="readMore">read more...</a></p>
                                        <div class="surveyDate"><i class="fa fa-calendar" aria-hidden="true"></i> Jul 18,
                                            2018 <i class="fa fa-clock-o"></i> 10:33:35 AM</div>
                                    </div>




                                </div>
                            </div><!-- item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col col-sm-8">
        <h2>List of  Content Management
        </h2>
    </div>
    <div class="col col-sm-4 text-right">
        <button class="btn btn-sm btn-success addUserBtn" type="button"><i class="fa fa-pencil"></i>
            Add Content
        </button>
    </div>

    <div class="col col-sm-12">

        <div class="card mb-3">
            <div class="card-body ">
                <div class="list-group listManagement">
                    <div class="row">
                        <div class=" col-sm-6">
                            <div class="list-group-item clearfix">
                                <div class="profile-teaser-left">
                                    <div class="profile-img"> <img src="assets/images/doctor.png" /></div>
                                </div>
                                <div class="profile-teaser-main">
                                    <h2 class="profile-name">Jane Doe</h2>
                                    <div class="profile-info">
                                        <img src="assets/images/powerpoint.png" />

                                    </div>
                                    <div class="profile-info">
                                        <img src="assets/images/excel.png" />
                                    </div>

                                    <div class="profile-info">
                                        <img src="assets/images/word.png" />
                                    </div>
                                    <div class="profile-info viewMore">
                                        <a href="#">View More</a>
                                    </div>
                                </div>
                            </div><!-- item -->
                        </div>
                        <div class=" col-sm-6">
                            <div class="list-group-item clearfix">
                                <div class="profile-teaser-left">
                                    <div class="profile-img"> <img src="assets/images/doctor.png" /></div>
                                </div>
                                <div class="profile-teaser-main">
                                    <h2 class="profile-name">Jane Doe</h2>
                                    <div class="profile-info">
                                        <img src="assets/images/powerpoint.png" />

                                    </div>
                                    <div class="profile-info">
                                        <img src="assets/images/excel.png" />
                                    </div>

                                    <div class="profile-info">
                                        <img src="assets/images/word.png" />
                                    </div>
                                    <div class="profile-info viewMore">
                                        <a href="#">View More</a>
                                    </div>
                                </div>
                            </div><!-- item -->
                        </div>
                        <div class=" col-sm-6">
                            <div class="list-group-item clearfix">
                                <div class="profile-teaser-left">
                                    <div class="profile-img"> <img src="assets/images/doctor.png" /></div>
                                </div>
                                <div class="profile-teaser-main">
                                    <h2 class="profile-name">Jane Doe</h2>
                                    <div class="profile-info">
                                        <img src="assets/images/powerpoint.png" />

                                    </div>
                                    <div class="profile-info">
                                        <img src="assets/images/excel.png" />
                                    </div>

                                    <div class="profile-info">
                                        <img src="assets/images/word.png" />
                                    </div>
                                    <div class="profile-info viewMore">
                                        <a href="#">View More</a>
                                    </div>
                                </div>
                            </div><!-- item -->
                        </div>
                        <div class=" col-sm-6">
                            <div class="list-group-item clearfix">
                                <div class="profile-teaser-left">
                                    <div class="profile-img"> <img src="assets/images/doctor.png" /></div>
                                </div>
                                <div class="profile-teaser-main">
                                    <h2 class="profile-name">Jane Doe</h2>
                                    <div class="profile-info">
                                        <img src="assets/images/powerpoint.png" />

                                    </div>
                                    <div class="profile-info">
                                        <img src="assets/images/excel.png" />
                                    </div>

                                    <div class="profile-info">
                                        <img src="assets/images/word.png" />
                                    </div>
                                    <div class="profile-info viewMore">
                                        <a href="#">View More</a>
                                    </div>
                                </div>
                            </div><!-- item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-sm-12">
        <h2>Edit Clinic Profile Details
        </h2>
    </div>

    <div class="col col-sm-12">

        <div class="card mb-3">
            <div class="card-body ">
                <div class="row  profileInfo">
                    <div class="col-sm-12 col-md-12 text-center">
                        <div class="profileImgEdit">
                            <img src="assets/images/doctor.png" class="userImgPro" />
                            <span class="editIcon"><i class="fa fa-pencil" aria-hidden="true"></i></span>

                        </div>

                    </div>
                    <div class="col-sm-8 col-md-8 offset-md-2 offset-lg-2">
                        <div class="row  ">
                            <div class="clientInfo col-sm-6">
                                <div class="input-group mb-3 inputTI">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-hospital-o"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Clinic name" aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                            </div>
                            <div class="clientInfo col-sm-6">
                                <div class="input-group mb-3 inputTI">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> <i class="fa fa-plus-square" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="REG-MK2015" aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                            </div>
                            <div class="clientInfo col-sm-6">
                                <div class="input-group mb-3 inputTI">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="City" aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                            </div>
                            <div class="clientInfo col-sm-6">
                                <div class="input-group mb-3 inputTI">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="State" aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                            </div>
                            <div class="clientInfo col-sm-6">
                                <div class="input-group mb-3 inputTI">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> <i class="fa fa-globe" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Country" aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                            </div>
                            <div class="clientInfo col-sm-6">
                                <div class="input-group mb-3 inputTI">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Country" aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                            </div>
                            <div class="clientInfo col-sm-6">
                                <div class="input-group mb-3 inputTI">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> <i class="fa fa-phone" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Phone Number" aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                            </div>

                            <div class="clientInfo col-sm-6">
                                <div class="input-group mb-3 inputTI">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                            </div>
                            <div class="clientInfo col-sm-12">
                                <div class="input-group mb-3 inputTI">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> <i class="fa fa-home" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Address" aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                            </div>
                            <div class="bottomBtnInfo col-sm-12 text-center"><button class="btn btn-primary " type="button">Submit</button>
                                <button _ngcontent-c6="" class="btn btn-default" type="button">Close</button>
                            </div>

                        </div>
                    </div>

                </div> <br/><br/><br/><br/>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col col-sm-8">
        <h2>My Profile</h2>
    </div>
    <div class="col col-sm-4 text-right">
        <button class="btn btn-sm btn-success addUserBtn" type="button"><i class="fa fa-pencil"></i>
            Edit Profile
        </button>
    </div>

    <div class="col col-sm-12">

        <div class="card mb-3">
            <div class="card-body ">
                <div class="row  profileInfo">
                    <div class="col-sm-12 col-md-12 text-center">
                        <div class="profileImgEdit">
                            <img src="assets/images/doctor.png" class="userImgPro" />
                            <!-- <span class="editIcon"><i class="fa fa-pencil" aria-hidden="true"></i></span> -->

                        </div>

                    </div>
                    <div class="col-sm-8 col-md-8 offset-md-2 offset-lg-3">
                        <div class="row  ">
                            <div class="clientInfo col-sm-6">
                                <i class="fa fa-hospital-o"></i> Clinic name
                            </div>
                            <div class="clientInfo col-sm-6">
                                <i class="fa fa-plus-square" aria-hidden="true"></i> REG-MK2015
                            </div>
                            <div class="clientInfo col-sm-6">
                                <i class="fa fa-map-marker" aria-hidden="true"></i> City
                            </div>
                            <div class="clientInfo col-sm-6">
                                <i class="fa fa-map-marker" aria-hidden="true"></i> State
                            </div>
                            <div class="clientInfo col-sm-6">
                                <i class="fa fa-globe" aria-hidden="true"></i> Country
                            </div>
                            <div class="clientInfo col-sm-6">
                                <i class="fa fa-map-marker" aria-hidden="true"></i> Zipcode
                            </div>
                            <div class="clientInfo col-sm-6">
                                <i class="fa fa-phone" aria-hidden="true"></i> Phone Number
                            </div>

                            <div class="clientInfo col-sm-6">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i> clinic-email@yopmail.com
                            </div>
                            <div class="clientInfo col-sm-6">
                                <i class="fa fa-home" aria-hidden="true"></i> Address
                            </div>


                        </div>
                    </div>

                </div> <br/><br/><br/><br/>
            </div>
        </div>
    </div>
</div>