<footer class="footerInfoBtm">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <img src="../assets/images/footer_logo.png">
            </div>
            <div class="col-md-3">
                <h2>Company</h2>
                <ul>

                    <li>
                        <a [routerLink]="['/about']">About </a>
                    </li>
                    <li>
                        <a  routerLink="/careers" >Careers </a>
                    </li>
                    <!-- <li>
                        <a href="">Press </a>
                    </li>
                    <li>
                        <a href="">News </a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/contact']">Contact </a>
                    </li>

                </ul>

            </div>
            <div class="col-md-3">
                <h2>Useful Links</h2>
                <ul>

                    <li>
                        <a [routerLink]="['/healthvideos/video']">Video </a>
                    </li>
                    <li>
                        <a [routerLink]="['/healthtopics/topic']">Topics </a>
                    </li>
                    <!-- <li>
                        <a href="">Web Player </a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/faq']">FAQ </a>
                    </li>


                </ul>
            </div>
            <div class="col-md-3 text-center socialIcons">
                <a target="blank" href="https://www.instagram.com/mdoutinc/">
                        <!-- Javascript:void(0) -->
                    <img src="../assets/images/instagram.png">
                </a>
                <a target="blank" href="https://twitter.com/mdoutinc ">
                        <!-- Javascript:void(0) -->
                    <img src="../assets/images/twitter.png">
                </a>
                <a target="blank" href="https://www.facebook.com/mdoutinc ">
                        <!-- href="Javascript:void(0)" -->
                    <img class="socialFb" src="../assets/images/facebook.png">
                </a>


            </div>

            <div class="col-md-12 copyrightText ">Copyright 2019. MDout, Inc.</div>
        </div>

    </div>

</footer>
